<div class="incomplete-configuration"  ...attributes>
  {{#if (and (not-eq this.incompleteLength 0) (has-permissions 'canSeeIncompleteConfigurations'))}}
    <div class="dropdown">
      <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="p-0 mr-2 btn btn-link">
        <span class="icon-wrapper icon-wrapper-alt rounded-circle">
          <span class="icon-wrapper-bg bg-danger"></span>
          <i class="icon text-danger icon-anim-pulse ion-android-alert"></i>
          <span class="badge badge-dot badge-dot-sm badge-danger">Configurazione incompleta</span>
        </span>
      </button>
      <div tabindex="-1" role="menu" aria-hidden="true"
          class="dropdown-menu-xl rm-pointers dropdown-menu dropdown-menu-right">
          <div class="dropdown-menu-header mb-0">
            <div class="dropdown-menu-header-inner bg-danger">
              <div class="menu-header-image opacity-3" style="background-image: url('/assets/images/dropdown-header/abstract2.jpg');"></div>
              <div class="menu-header-content">
                <h5 class="menu-header-title">Configurazione incompleta</h5>
                <h6 class="menu-header-subtitle">Rilevate <b>{{this.incompleteLength}}</b> anomalie</h6>
              </div>
            </div>
          </div>

          <div class="scroll-area-sm">
            <div class="scrollbar-container">
              <div class="p-3">
                <div class="notifications-box">
                  <div class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--one-column">
                    {{#each this.incomplete as | row |}}
                    <div class="vertical-timeline-item dot-{{row.color}} vertical-timeline-element">
                      <div><span class="vertical-timeline-element-icon bounce-in"></span>
                        <div class="vertical-timeline-element-content bounce-in">
                          <h4 class="timeline-title">{{row.info}}
                          {{#if (not-eq row.link '')}}
                            {{#if (and row.id row.queryParams)}}
                            <LinkTo @route={{row.link}} @model={{row.id}} @query={{row.queryParams}}>
                              <span class="badge badge-{{row.color}}">RISOLVI</span>
                            </LinkTo>
                            {{else if row.id}}
                            <LinkTo @route={{row.link}} @model={{row.id}}>
                              <span class="badge badge-{{row.color}}">RISOLVI</span>
                            </LinkTo>
                            {{else}}
                              {{#if (not-eq row.link '')}}
                              <LinkTo @route={{row.link}} >
                                <span class="badge badge-{{row.color}}">RISOLVI</span>
                              </LinkTo>
                              {{/if}}
                            {{/if}}
                          {{/if}}
                          </h4>
                        </div>
                      </div>
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav flex-column">
              <li class="nav-item-divider nav-item"></li>
              <li class="nav-item-btn text-center nav-item">
                  <button {{on 'click' (stop-propagation (perform this.refresh))}} class="btn-shadow btn-wide btn-pill btn btn-focus btn-sm" type="button">
                    <i class="fa fa-refresh mr-2 {{if this.refresh.isRunning 'fa-spin'}}"></i> Aggiorna
                  </button>
              </li>
          </ul>
      </div>
    </div>
  {{/if}}
</div>
{{yield}}