{{! login form; the fields must be named "identification" and "password"; the controller action is "authenticate" }}
<div class="" ...attributes>
  <form>

    <div class="form-row">
      <div class="col-md-6">
          <div class="position-relative form-group">
              <label for="identification" class="">
                <Standard::TR @key="component.loginForm.email" @default="E-mail"/>
              </label>
              <input name="email" id="identification" type="email" class="form-control" placeholder="..." {{on 'input' this.updateIdentification}} value={{this.identification}} data-test-identification>
          </div>
      </div>
      <div class="col-md-6">
          <div class="position-relative form-group">
              <label for="password" class="">
                <Standard::TR @key="component.loginForm.password" @default="Password"/>
              </label>
              <div class="input-group">
                <input name="password" id="password" type={{this.pwdType}} {{on 'input' this.updatePassword}} placeholder="..." class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-light" type="button" {{on 'click' this.updateShowPwd}} tabindex="-1">
                    <i class="fa {{if (eq this.pwdType 'password') 'fa-eye-slash' 'fa-eye'}}"></i>
                  </button>
                </div>
              </div>
          </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="ml-auto">
          <button {{on 'click' (perform this.authenticateJwt)}} id="login-form-btn" type="button" class="btn btn-custom2 btn-lg">
            <Standard::TR @key="component.loginForm.logIn" @default="Accedi"/>
            <i class="fa {{if this.authenticateJwt.isRunning 'fa-spinner fa-spin' 'fa-angle-right'}} ml-2"></i>
          </button>
      </div>
    </div>
    {{#if this.ticketActive}}
      <div class="d-flex align-items-center">
        <h6>
          <span class="d-block">Problemi di accesso?</span> <span>Consulta il <LinkTo @route="ticket-create-unlogged">Centro Assistenza Clienti</LinkTo></span>
        </h6>
      </div>
    {{/if}}
    <div class="divider row"></div>
  </form>
</div>

{{#if this.showSocialLogin}}
<div class="row mb-3">
  {{#if this.showFacebook}}
  <div class="col text-center">
    <button {{on 'click' this.authenticateWithFacebook}} class="btn btn-custom2 mb-3" href="#" type="button">
      <Standard::TR @key="component.loginForm.fbLogin" @default="Login con Facebook"/>
    </button>
  </div>
  {{/if}}
  {{#if this.showGoogle}}
  <div class="col text-center">
    <button {{on 'click' this.authenticateWithGoogleImplicitGrant}} class="btn btn-custom2" type="button">
      <Standard::TR @key="component.loginForm.googleLogin" @default="Login con Google"/>
    </button>
  </div>
  {{/if}}
</div>
{{/if}}

<div class="row mb-3">
  <div class="col-md-12 p-0 pt-2 pl-1 pr-1">
    {{#if this.errorMessage}}
      <div class="alert alert-danger text-center" data-test-error-message>
        <p class="mb-1">
          <strong><Standard::TR @key="component.loginForm.attention" @default="ATTENZIONE"/>:</strong>
        </p>
        <p class="mb-0">
          <span>{{this.errorMessage}}</span>
        </p>
        {{#if this.linkToChangePwd}}
          <div class="pt-3">
            <button class="btn-hover-shine btn btn-danger" type="button" {{on 'click' this.goToUpdatePassword}}>
              <Standard::TR @key="component.loginForm.clickToUpdate" @default="Clicca qui per inserire una nuova password"/>
            </button>
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>