<div class="media-manager" {{did-insert this.afterRenderHook}} ...attributes>
  {{#if (has-permissions 'MediaFile.read')}}
    {{#if (eq this.serviceAvailable 'waiting')}}
      <div class="row">
        <div class="col-md-12 text-center pt-4">
          <p>
            <em class="text-info"><i class="fa fa-spin fa-spinner"></i> attendere prego...</em>
          </p>
        </div>
      </div>
    {{/if}}
    {{#if (eq this.serviceAvailable 'unavailable')}}
      <div class="row">
        <div class="col-md-12 text-center pt-4">
          <p>
            <em class="text-danger mb-3">Il servizio non è al momento disponibile oppure i criteri di ricerca inseriti non sono corretti.</em>
          </p>
          <p>
            <button class="mb-2 me-2 btn-transition btn btn-outline-danger" type="button" {{on 'click' this.fetchMedia}}>Riprova</button>
          </p>
        </div>
      </div>
    {{/if}}
    {{#if (eq this.serviceAvailable 'available')}}
      {{#if (has-permissions 'MediaFile.create')}}
        {{!-- #region uploadArea --}}
        <div id="accordion" class="accordion-wrapper mb-3">
          <div class="card">
            <div id="headingOne" class="card-header">
              <button test-mediaaccordion type="button" data-toggle="collapse" data-target="#uploadMedia1" aria-expanded="false" aria-controls="uploadMedia" class="text-left m-0 p-0 btn btn-link btn-block">
                <h5 class="m-0 p-0">
                  <i class="fa fa-share-square"></i>
                  CARICAMENTO MEDIA
                </h5>
              </button>
            </div>
            <div data-parent="#accordion" id="uploadMedia1" aria-labelledby="headingOne" class="collapse">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <label>Tipologia</label>
                    <select class="uploadType form-control form-control-sm" {{on 'change' (fn this.changeUpload 'imageTypology')}}>
                      <option value="" selected>--</option>
                      {{#each this.availableTypologies as | typology |}}
                        <option value="{{typology.id}}">{{typology.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Categoria</label>
                    <select class="uploadCategory form-control form-control-sm" {{on 'change' (fn this.changeUpload 'imageCategory')}}>
                      <option value="" selected>--</option>
                      {{#each this.availableCategories as | category |}}
                        <option value="{{category.id}}">{{category.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label>Album</label>
                    <select class="uploadAlbum form-control form-control-sm" {{on 'change' (fn this.changeUpload 'imageAlbum')}}>
                      <option value="" selected>--</option>
                      {{#each this.availableAlbums as | album |}}
                        <option value="{{album.id}}">{{album.name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Alt</label>
                    <textarea id="uploadAlt" rows="1" class="form-control" value={{this.uploadParams.imageAlt}} {{on 'input' (fn this.changeUpload 'imageAlt')}}></textarea>
                  </div>
                  <div class="col-md-6">
                    <label>Tag</label>
                    <textarea id="uploadTag" rows="1" class="form-control" value={{this.uploadParams.imageTag}} {{on 'input' (fn this.changeUpload 'imageTag')}}></textarea>
                  </div>
                  <div class="col-md-12 pt-5">
                    {{#if this.showUploadArea}}
                      {{#let (file-queue name="uploader" onFileAdded=this.uploadPhoto onUploadSucceeded=this.uploadSucceeded onUploadFailed=this.uploadFailed) as |queue|}}
                        <div class="upload_area">
                          <FileDropzone @queue={{queue}} @filter={{this.validateFile}} as |dropzone|>
                            {{#if dropzone.active}}
                              <p class="text-success pt-4">Rilascia il file per avviare il caricamento</p>
                            {{else if queue.files.length}}
                              Caricamento in corso: ({{queue.progress}}%)
                            {{else if dropzone.supported}}
                              <label>
                                <input type="file" {{queue.selectFile filter=this.validateFile }} class="btn btn-light">
                                </label>
                              <br /><br />
                              o trascina il file qui!
                            {{/if}}
                          </FileDropzone>
                        </div>
                      {{/let}}
                    {{else}}
                      <p class="text-secondary text-center opacity-5 pt-3"><em>Scegli la Tipologia, la Categoria e l'Album</em></p>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{!-- endregion --}}
      {{/if}}
      {{!-- #region filterArea --}}
      <div class="mb-3 card">
        <div class="card-header">
          FILTRI
        </div>
        <div class="card-body pt-1 pb-1">
          <div class="row mb-1">
            <div class="col-md-12">
              <table class="media-table mb-2">
                <thead>
                  <tr style="border: none;">
                    <th style="width: 116px;">
                      VISUALIZZA
                      <select class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'pageSize')}}>
                        {{#each this.availablePageSize as | size |}}
                          <option value="{{size}}" selected={{eq size this.pageSize}}>{{size}} record</option>
                        {{/each}}
                      </select>
                    </th>
                    <th style="width: 94px;">
                      DIMENSIONE
                      <select class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'imageSize')}}>
                        <option value="sm" selected>piccola</option>
                        <option value="md">media</option>
                        <option value="lg">grande</option>
                      </select>
                    </th>
                    <th>
                      CONTENT-TYPE
                      <select class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'primaryContentType')}}>
                        <option value="" selected>--</option>
                        {{#each this.availableContentType as | ct |}}
                          <option value="{{ct}}">{{ct}}</option>
                        {{/each}}
                      </select>
                    </th>
                    <th>
                      TIPOLOGIA
                      <div class="input-group">
                        <select id="imageTypology" class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'imageType')}}>
                          <option value="" selected={{(eq this.filter.imageType '')}}>--</option>
                          {{#each this.availableTypologies as | typology |}}
                            <option value={{typology.id}} selected={{(eq typology.id this.filter.imageType)}}>{{typology.name}}</option>
                          {{/each}}
                        </select>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageTypology" {{on 'click' (fn this.changeFilter 'imageType')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th>
                      CATEGORIA
                      <div class="input-group">
                        <select id="imageCategory" class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'imageCategory')}}>
                          <option value="" selected={{(eq this.filter.imageCategory '')}}>--</option>
                          {{#each this.availableCategories as | category |}}
                            <option value={{category.id}} selected={{(eq category.id this.filter.imageCategory)}}>{{category.name}}</option>
                          {{/each}}
                        </select>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageCategory" {{on 'click' (fn this.changeFilter 'imageCategory')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th>
                      ALBUM
                      <div class="input-group">
                        <select id="imageAlbum" class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'imageAlbum')}}>
                          <option value="" selected>--</option>
                          {{#each this.availableAlbums as | album |}}
                            <option value={{album.id}} selected={{(eq album.id this.filter.imageAlbum)}}>{{album.name}}</option>
                          {{/each}}
                        </select>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageAlbum" {{on 'click' (fn this.changeFilter 'imageAlbum')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th style="width: 190px;">
                      DATA DI CARICAMENTO
                      <div class="input-group">
                        <input id="imageDate" type="month" class="form-control form-control-sm" {{on 'change' (fn this.changeFilter 'imageDate')}}>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageDate" {{on 'click' (fn this.changeFilter 'imageDate')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                  </tr>
                  <tr style="border: none;">
                    <th colspan="3">
                      GUID
                      <div class="input-group">
                        <input id="imageGuid" type="text" class="form-control form-control-sm" {{on 'input' (fn this.changeFilter 'imageGuid')}}>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageGuid" {{on 'click' (fn this.changeFilter 'imageGuid')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th colspan="3">
                      TAG
                      <div class="input-group">
                        <input id="imageTags" type="text" class="form-control form-control-sm" {{on 'input' (fn this.changeFilter 'imageTags')}}>
                        <div class="input-group-append">
                          <button class="clearButton btn btn-sm btn-outline-secondary" type="button" data-ref="#imageTags" {{on 'click' (fn this.changeFilter 'imageTags')}}>
                            <i class="fas fa-times"></i>
                          </button>
                        </div>
                      </div>
                    </th>
                    <th class="pt-3 text-right">
                      {{#if (not-eq this.serviceAvailable 'waiting')}}
                      <button class="btn btn-sm btn-hover-shine btn-light" type="button" {{on 'click' this.fetchMedia}}>ricarica</button>
                      {{/if}}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      {{!-- endregion --}}

      {{!-- #region showArea --}}
      <div class="main-card mb-3 card">
        <div class="card-body p-0">
          <table class="media-table mb-2">
            <thead>
              <tr>
                <th class="col-image">PREVIEW</th>
                <th class="col-name">NAME</th>
                <th class="col-alt">ALT</th>
                <th class="col-tag">TAG</th>
                <th class="col-url">URL / BASE64</th>
                <th class="col-type">TIPOLOGIA / CATEGORIA / ALBUM</th>
                <th class="col-data">DATA</th>
                <th class="col-btn"> </th>
              </tr>
            </thead>
            <tbody>
              {{#each this.medias as |media|}}
              <tr>
                <td class="text-center">
                  {{#if (or (eq media.extension 'jpeg') (eq media.extension 'png'))}}
                  <div class="avatar-icon-wrapper avatar-icon-xl">
                      <div class="avatar-icon rounded">
                          <img src="{{media.base64}}" alt="">
                      </div>
                  </div>
                  {{else}}
                  <div class="swatch-holder swatch-holder-lg bg-info text-center text-white" id="TooltipC-2">
                    {{media.extension}}
                  </div>
                  {{/if}}
                </td>
                <td>
                  <p class="mb-1">{{media.originalFileName}}.{{media.extension}}</p>
                  <a class="btn-transition btn btn-outline-light copy-guid small-btn" data-clipboard-text="{{media.id}}">Copia GUID</a>
                </td>
                <td>
                  {{#if (this.isEditing media.id)}}
                    <textarea rows="1" {{on "input" (fn this.updateMediaField media "alt")}}>{{media.alt}}</textarea>
                  {{else}}
                  <textarea rows="1" disabled>{{media.alt}}</textarea>
                  {{/if}}
                </td>
                <td>
                  {{#if (this.isEditing media.id)}}
                    <textarea rows="1" {{on "input" (fn this.updateMediaField media "tag")}}>{{media.tag}}</textarea>
                  {{else}}
                    <textarea rows="1" disabled>{{media.tag}}</textarea>
                  {{/if}}
                </td>
                <td>
                  {{#if this.setup.siteSetup.useUrlStaticFiles}}
                  <a class="btn-transition btn btn-outline-light small-btn mb-1" disabled {{on 'click' this.noUrlAvailable}}>Copia URL</a>
                  {{else}}
                  <a class="btn-transition btn btn-outline-light copy-guid small-btn mb-1" data-clipboard-text="{{media.fileUrl}}/">Copia URL</a>
                  {{/if}}
                  <a class="btn-transition btn btn-outline-light copy-guid small-btn" data-clipboard-text="{{media.base64}}/">Copia Base64</a>
                </td>
                <td class="light-text">
                  <p class="mb-0"><small>{{media.typologyAreaRel.name}} /<br />{{media.categoryRel.name}} /<br />{{media.albumRel.name}}</small></p>
                </td>
                <td class="light-text">
                  <p class="mb-0"><small>{{(this.uploadDate media.uploadDate)}}</small></p>
                </td>
                <td>
                  {{#if (this.isEditing media.id)}}
                    <button test-cancelEdit class="btn-del-field btn-hover-shine btn btn-sm btn-info mb-1" type="button" {{on "click" (fn this.cancelEditMedia media)}}>
                        <i class="fa fa-undo"></i>
                    </button>
                    <button test-save class="btn-del-field btn-hover-shine btn btn-sm btn-alternate" type="button" {{on "click" (fn this.saveMedia media)}}>
                        <i class="fa fa-save"></i>
                    </button>
                  {{else}}
                    {{#if (eq this.editingMediaId null)}}
                      {{#if (has-permissions 'MediaFile.update')}}
                      <button test-edit class="btn-edit-field btn-hover-shine btn btn-sm btn-warning mr-1 mb-1" type="button" {{on "click" (fn this.editMedia media)}}>
                          <i class="fa fa-pencil"></i>
                      </button>
                      {{/if}}
                      {{#if (has-permissions 'MediaFile.delete')}}
                      <button test-delete class="btn-del-field btn-hover-shine btn btn-sm btn-danger" type="button" {{on "click" (fn this.deleteMedia media)}}>
                          <i class="fa fa-trash"></i>
                      </button>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        {{#if (gt this.totalPages 2)}}
        <div class="card-footer pt-4">
          <nav class="m-auto" aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item {{if (eq this.currentPage 1) 'disabled' ''}}">
                  <a href="#" class="page-link text-secondary" aria-label="Previous" {{on 'click' (fn this.goToPage 'previous')}}>
                      <span aria-hidden="true">«</span>
                      {{!--<span class="visually-hidden">Previous</span>--}}
                  </a>
              </li>
              <li class="page-item disabled">
                  <a href="#" class="page-link text-secondary">
                    {{this.currentPage}} / {{this.totalPages}}
                  </a>
              </li>
              <li class="page-item {{if (eq this.currentPage this.totalPages) 'disabled' ''}}">
                  <a href="#" class="page-link text-secondary" aria-label="Next" {{on 'click' (fn this.goToPage 'next')}}>
                      {{!--<span class="visually-hidden">Next</span>--}}
                      <span aria-hidden="true">»</span>
                  </a>
              </li>
            </ul>
          </nav>
        </div>
        {{/if}}


      </div>
      {{!-- endregion --}}
    {{/if}}
  {{/if}}
</div>
{{yield}}