<div class="app-container ofinder-login-container">
  <div class="h-100">
    <div class="h-100 no-gutters row">
      <div class="d-flex justify-content-center align-items-center col-md-12 col-lg-12 px-3 px-md-0 ofinder-login-scroll-container">
        <div class="mx-auto ofinder-login-box col-12 col-md-10 col-lg-8">
          <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
          <div class="ofinder-login-logo">
            <LinkTo @route="search" class="d-flex align-items-center justify-content-center mb-4 text-decoration-none">
              <i class="fa fa-search ofinder-login-logo-icon"></i>
              <h1 class="ofinder-login-logo-text mb-0 ml-3">OFINDER</h1>
            </LinkTo>
          </div>

          {{#if (eq this.ph 1)}}
          {{!-- #region STEP1 --}}
          <h4 class="mb-3 ofinder-login-heading text-center">
            <span class="d-block mb-2">
              <Standard::TR @key="template.recoveryPassword.title" @default="Recupero della password"/>
            </span>
            <span class="ofinder-login-subheading">
              <Standard::TR @key="template.recoveryPassword.howTo" @default="Inserisci la tua e-mail e ti invieremo le istruzioni per creare una nuova password"/>
            </span>
          </h4>

          <div class="text-center mb-3">
            <Standard::BackButton class="btn btn-outline-primary ofinder-forgot-password-btn">
              <i class="fa fa-arrow-left mr-2"></i>
              <Standard::TR @key="template.recoveryPassword.return" @default="Torna indietro"/>
            </Standard::BackButton>
          </div>

          <div>
            <form>
              <div class="form-row">
                <div class="col-12">
                  <div class="position-relative form-group ofinder-login-input">
                    <label for="identification" class="ofinder-login-label">
                      <Standard::TR @key="template.recoveryPassword.email" @default="Email"/>
                    </label>
                    <input name="email" id="identification" type="email" class="form-control" placeholder="nome@esempio.it" {{on 'keyup' this.updateEmail}}>
                    <small class="form-text text-danger">{{this.helperText}}</small>
                  </div>
                </div>
                <div class="col-12 d-flex justify-content-center mt-3">
                  <button type="button" class="btn ofinder-login-btn btn-lg" disabled={{this.disabledSend1}} {{on 'click' (perform this.recoveryStep1)}}>
                    <Standard::TR @key="template.recoveryPassword.start" @default="Avvia il cambio password"/>
                    {{#if this.recoveryStep1.isRunning}}
                    <i class="fa fa-spin fa-spinner ml-2"></i>
                    {{else}}
                    <i class="fa fa-angle-right ml-2"></i>
                    {{/if}}
                  </button>
                </div>
                {{#if this.showOutcome}}
                <div class="col-12 text-success {{this.colorClass}} text-center">
                  <h6 class="mt-3">{{this.outcome}}</h6>
                </div>
                {{/if}}
              </div>
            </form>
          </div>
          {{!-- #endregion --}}

          {{else}}
          {{!-- #region STEP2 --}}
          <h4 class="mb-3 ofinder-login-heading text-center">
            <span class="d-block mb-2">
              <Standard::TR @key="template.recoveryPassword.title2" @default="Creazione password"/>
            </span>
            <span class="ofinder-login-subheading">
              <Standard::TR @key="template.recoveryPassword.howTo2" @default="Inserisci la tua nuova password di accesso"/>
            </span>
          </h4>

          <div>
            {{!-- template-lint-disable no-duplicate-landmark-elements --}}
            <form>
              <div class="form-row">
                  <div class="col-12">
                      <div class="position-relative form-group ofinder-login-input">
                          <label class="ofinder-login-label">Nuova password</label>
                          {{!-- template-lint-disable require-input-label --}}
                          <input type="{{this.pwdType}}" value="" class="form-control" placeholder="••••••••" {{on 'keyup' (fn this.updateValues 'newPassword')}}>
                          <small class="form-text text-danger">{{this.newPasswordStatus}}</small>
                      </div>
                  </div>
                  <div class="col-12">
                      <div class="position-relative form-group ofinder-login-input">
                          <label class="ofinder-login-label">Ripeti la nuova password</label>
                          {{!-- template-lint-disable require-input-label --}}
                          <input type="{{this.pwdType}}" value="" class="form-control" placeholder="••••••••" {{on 'keyup' (fn this.updateValues 'newPasswordConfirm')}}>
                          <small class="form-text text-danger">{{this.newPasswordConfirmStatus}}</small>
                      </div>
                  </div>
                  <div class="col-12 mb-3">
                    <div class="position-relative form-check">
                      {{!-- template-lint-disable require-input-label --}}
                      <input type="checkbox" class="form-check-input" {{on 'change' this.updateShowPwd}} checked={{this.showPwd}}>
                      <label class="form-check-label ofinder-text-light">Mostra le password</label>
                    </div>
                  </div>
                  {{#if this.matchPassword}}
                  <div class="col-12 text-danger text-center mb-3">
                    {{this.matchPassword}}
                  </div>
                  {{/if}}
                  <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn ofinder-login-btn btn-lg" disabled={{this.disabledSend2}} {{on 'click' (perform this.recoveryStep2)}}>
                      <Standard::TR @key="template.recoveryPassword.create" @default="Crea la nuova password"/>
                      {{#if this.recoveryStep2.isRunning}}
                      <i class="fa fa-spin fa-spinner ml-2"></i>
                      {{else}}
                      <i class="fa fa-angle-right ml-2"></i>
                      {{/if}}
                    </button>
                  </div>
              </div>
            </form>

          </div>
          {{!-- #endregion --}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}