<div class="app-container">
  <div class="h-100">
    <div class="h-100 no-gutters row">
      <div class="d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-12">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-8">
          <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
          <div class="app-logo"></div>

          {{#if (eq this.ph 1)}}
          {{!-- #region STEP1 --}}
          <h4 class="mb-0">
            <div>
              <Standard::TR @key="template.recoveryPassword.title" @default="Recupero della password"/>
            </div>
          </h4>
          <h6 class="mt-3">
            <Standard::TR @key="template.recoveryPassword.howTo" @default="Inserisci la tua e-mail e ti invieremo le istruzioni per creare una nuova password"/>
          </h6>
          <span>
            <Standard::BackButton class="btn border-0 btn-transition btn-outline-primary">
              <Standard::TR @key="template.recoveryPassword.return" @default="Torna indietro"/>
            </Standard::BackButton>
          </span>
          <div class="divider row"></div>

          <div>
            <form>
              <div class="form-row">
                <div class="col-md-8"><Standard::TR @key="template.recoveryPassword.email" @default="Email"/></div>
                <div class="col-md-4"></div>

                <div class="col-md-8">
                  <div class="position-relative form-group">
                    <input name="email" id="identification" type="email" class="form-control" {{on 'keyup' this.updateEmail}}>
                    <small class="form-text text-danger">{{this.helperText}}</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="position-relative form-group">
                    <div class="d-grid gap-2 text-right">
                      <button type="button" class="btn btn-primary btn-lg" disabled={{this.disabledSend1}} {{on 'click' (perform this.recoveryStep1)}}>
                        {{#if this.recoveryStep1.isIdle}}
                        <i class="fa fa-search mr-2"></i>
                        {{/if}}
                        {{#if this.recoveryStep1.isRunning}}
                        <i class="fa fa-spin fa-spinner mr-2"></i>
                        {{/if}}
                        <Standard::TR @key="template.recoveryPassword.start" @default="Avvia il cambio password"/>
                      </button>
                    </div>
                  </div>
                </div>
                {{#if this.showOutcome}}
                <div class="col-12 text-success {{this.colorClass}}">
                  <h6 class="mt-3">{{this.outcome}}</h6>
                </div>
                {{/if}}
              </div>
            </form>
          </div>
          {{!-- #endregion --}}

          {{else}}
          {{!-- #region STEP2 --}}
          <h4 class="mb-0">
            <div>
              <Standard::TR @key="template.recoveryPassword.title2" @default="Creazione password"/>
            </div>
          </h4>
          <h6 class="mt-3">
            <Standard::TR @key="template.recoveryPassword.howTo2" @default="Inserisci la tua nuova password di accesso"/>
          </h6>
          <div class="divider row"></div>
          <div>

            {{!-- template-lint-disable no-duplicate-landmark-elements --}}
            <form>
              <div class="form-row">
                  <div class="col-md-12">
                      <div class="position-relative form-group">
                          <label>Nuova password</label>
                          {{!-- template-lint-disable require-input-label --}}
                          <input type="{{this.pwdType}}" value="" class="form-control" {{on 'keyup' (fn this.updateValues 'newPassword')}}>
                          <small class="form-text text-danger">{{this.newPasswordStatus}}</small>
                      </div>
                  </div>
                  <div class="col-md-12">
                      <div class="position-relative form-group">
                          <label>Ripeti la nuova password</label>
                          {{!-- template-lint-disable require-input-label --}}
                          <input type="{{this.pwdType}}" value="" class="form-control" {{on 'keyup' (fn this.updateValues 'newPasswordConfirm')}}>
                          <small class="form-text text-danger">{{this.newPasswordConfirmStatus}}</small>
                      </div>
                  </div>
                  <div class="col-md-12 mb-4">
                    <div class="position-relative form-check">
                      {{!-- template-lint-disable require-input-label --}}
                      <input type="checkbox" class="form-check-input" {{on 'change' this.updateShowPwd}} checked={{this.showPwd}}>
                      <label class="form-check-label">Mostra le password</label>
                    </div>
                  </div>
                  <div class="col-md-8 text-danger">{{this.matchPassword}}</div>
                  <div class="col-md-4 text-right">
                    <div class="position-relative form-group">
                      <div class="d-grid gap-2 text-right">
                        <button type="button" class="btn btn-primary btn-lg" disabled={{this.disabledSend2}} {{on 'click' (perform this.recoveryStep2)}}>
                          {{#if this.recoveryStep2.isIdle}}
                          <i class="fa fa-search mr-2"></i>
                          {{/if}}
                          {{#if this.recoveryStep2.isRunning}}
                          <i class="fa fa-spin fa-spinner mr-2"></i>
                          {{/if}}
                          <Standard::TR @key="template.recoveryPassword.create" @default="Crea la nuova password"/>
                        </button>
                      </div>
                    </div>
                  </div>
              </div>
            </form>

          </div>
          {{!-- #endregion --}}
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}