<div class="pt-5" ...attributes>
    <form class="" {{on "submit" this.sendForm}}>
        <div class="form-row">

            <div class="col-md-12 {{this.showCredentialEmail}}">
                <div class="position-relative form-group">
                    <label>Email</label>
                    <input type="email" value="{{this.userEmail}}" class="form-control" {{on 'keyup' (fn this.updateValues 'userEmail')}}>
                    <small class="form-text text-danger">{{{this.userEmailStatus}}}</small>
                </div>
            </div>
            <div class="col-md-12 {{this.showCredentialPwd}}">
                <div class="position-relative form-group">
                    <label >Vecchia password</label>
                    <input type="{{this.pwdType}}" value="{{this.userOldPassword}}" class="form-control" {{on 'keyup' (fn this.updateValues 'userOldPassword')}}>
                    <small class="form-text text-danger">{{{this.userOldPasswordStatus}}}</small>
                </div>
            </div>

            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label>Nuova password</label>
                    <input type="{{this.pwdType}}" value="" class="form-control" {{on 'keyup' (fn this.updateValues 'newPassword')}}>
                    <small class="form-text text-danger">{{{this.newPasswordStatus}}}</small>
                </div>
            </div>
            <div class="col-md-12">
                <div class="position-relative form-group">
                    <label>Ripeti la nuova password</label>
                    <input type="{{this.pwdType}}" value="" class="form-control" {{on 'keyup' (fn this.updateValues 'newPasswordConfirm')}}>
                    <small class="form-text text-danger">{{{this.newPasswordConfirmStatus}}}</small>
                </div>
            </div>
            <div class="col-md-12">
              <div class="position-relative form-check">
                <input type="checkbox" class="form-check-input" onchange={{action 'updateShowPwd'}} checked={{this.showPwd}}>
                <label class="form-check-label">Mostra le password</label>
              </div>
            </div>
        </div>

        <div class="mt-4 d-flex align-items-center">
            {{#if this.showBack}}
            <p class="mb-0">Torna <a href="javascript:window.history.back();" class="text-primary">indietro</a></p>
            {{/if}}
            <div class="ml-auto">
                <button class="btn-wide btn-pill btn-shadow btn-hover-shine btn btn-primary btn-lg" disabled={{this.disabledSend}} type="submit">Aggiorna la password</button>
            </div>
        </div>

        <div class="col-md-12 p-0 pt-5">
          {{#if this.errorMessage}}
            <div class="alert alert-danger text-center">
              <p class="mb-1">
                <strong>ATTENZIONE:</strong>
              </p>
              <p class="mb-0">
                <span>{{{this.errorMessage}}}</span>
              </p>
            </div>
          {{/if}}
        </div>
    </form>
</div>