{{!-- E' la pagina visualizzata dagli utenti loggati quando vogliono cambiare password --}}
{{!-- stile del tema: pagine per utenti loggati --}}
<ArchitectUi::AppMain::AppPageTitle @title="Cambia password" @titleKey="template.changePassword.title" @description="Cambia la tua password di accesso" @descriptionKey="template.changePassword.subTitle" @icon="pe-7s-key">
  <LinkTo @route="user-profile" class="mb-2 me-2 btn-hover-shine btn btn-light">
    <i class="pe-7s-user mr-2"></i>
    Profilo personale
  </LinkTo>
</ArchitectUi::AppMain::AppPageTitle>

<div class="row user-profile">
  <div class="{{if this.showInfo 'col-md-8' 'col-md-12'}}">
    <Standard::Core::UpdatePassword/>
  </div>

  <div class="{{if this.showInfo 'col-md-4' 'd-none'}} pt-5 opacity-6 mb-3">
    <br />
    NOTA:
    <br /><br />
    {{#if (not-eq this.expiration '')}}
      {{this.expiration}}
      <br /><br />
    {{/if}}

    {{#if (not-eq this.previous '')}}
      {{this.previous}}
      <br /><br />
    {{/if}}
  </div>
</div>
{{outlet}}