<div class="app-container">
    <div class="unlogged-language-area {{if this.rightSlider 'left'}}">
        <Standard::Core::ChooseLanguage @position="unlogged"/>
    </div>
    <div class="h-100">
        <div class="h-100 no-gutters row">
            {{#if this.leftSlider}}
                <div class="d-none d-lg-block col-lg-4">
                    <Standard::Core::LoginSlider @page="login"/>
                </div>
            {{/if}}
            <div class="d-flex bg-white justify-content-center align-items-center col-md-12 {{this.loginAreaClass}}">
                <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-8">
                    <div class="d-block d-sm-block d-md-none d-lg-none p-3"></div>
                    <div class="app-logo"></div>
                    <h4 class="mb-0">
                        <span class="d-block">
                            <Standard::TR @key="template.login.welcome" @default="Bentornato,"/>
                        </span>
                        <span>
                            <Standard::TR @key="template.login.enterCredentials" @default="Inserisci le tue credenziali d'accesso."/>
                        </span>
                    </h4>
                    {{#if this.showRegistration}}
                        <h6 class="mt-3">
                            <Standard::TR @key="template.login.unregistered" @default="Non sei registrato?"/>
                            <LinkTo @route="registration" class="text-primary">
                                <Standard::TR @key="template.login.registration" @default="Registrati"/>
                            </LinkTo>
                        </h6>
                        <p>
                            <LinkTo @route="recovery-password" class="btn-lg btn btn-link p-0">
                                <Standard::TR @key="template.login.forgotPassword" @default="Password dimenticata?"/>
                            </LinkTo>
                        </p>
                    {{/if}}
                    <div class="divider row"></div>
                    <Standard::Core::LoginFormTicket @disableSocialLogin="" @dialogsError="" />

                    <div class="text-center">
                      {{#if (eq this.environment 'development')}}
                        <button class="btn btn-danger" type="button">DEV {{if this.isApp 'APP' ''}} Environment<span class="opacity-4">{{this.appVersion}}</span></button>
                      {{else if (eq this.environment 'test')}}
                        <button class="btn btn-warning" type="button">TEST {{if this.isApp 'APP' ''}} Environment<span class="opacity-4">{{this.appVersion}}</span></button>
                      {{else if this.isApp}}
                        <small class="opacity-4"><em>{{this.appVersion}}</em></small>
                      {{/if}}
                    </div>
                </div>
            </div>
            {{#if this.rightSlider}}
                <div class="d-none d-lg-block col-lg-4">
                    <Standard::Core::LoginSlider @page="login"/>
                </div>
            {{/if}}
            <Standard::Core::Gdpr/>
        </div>
    </div>
</div>