{{!-- ChannelBadge Component Template --}}
<span
  class="channel-badge ofinder-rounded-sm d-inline-flex align-items-center px-2 py-1"
  style="
    background-color: {{this.channelColor}};
    color: {{this.textColor}};
    font-size: {{this.fontSize}};
    font-weight: 500;
  "
  ...attributes
>
  {{!-- Emoji piattaforma --}}
  <span class="mr-1">{{this.channelEmoji}}</span>

  {{!-- Nome piattaforma --}}
  <span>{{this.channelName}}</span>

  {{!-- Badge Verified (se verificato) --}}
  {{#if @channel.verified}}
    <i class="pe-7s-check ml-1" style="font-size: 10px;"></i>
  {{/if}}
</span>
