{{!-- SearchBar Component Template --}}
<div class="search-bar-container mb-4" ...attributes>
  {{!-- Input Group principale --}}
  <div class="input-group input-group-lg ofinder-shadow-sm ofinder-rounded">
    {{!-- Icona Search (solo desktop) --}}
    <div class="input-group-prepend d-none d-md-flex">
      <span class="input-group-text bg-white border-0">
        <i class="fa fa-search ofinder-text-primary"></i>
      </span>
    </div>

    {{!-- Input field --}}
    <input
      type="text"
      class="form-control border-0"
      placeholder={{this.responsivePlaceholder}}
      value={{this.searchQuery}}
      {{on "input" this.handleInput}}
      {{on "keydown" this.handleKeydown}}
    />

    {{!-- Bottone Cerca --}}
    <div class="input-group-append">
      <button
        type="button"
        class="btn btn-ofinder-primary"
        {{on "click" this.performSearch}}
        title="Cerca"
      >
        <i class="fa fa-search"></i>
        <span class="d-none d-md-inline ml-2">Cerca</span>
      </button>
    </div>
  </div>

  {{!-- Filtri Rapidi (chips) --}}
  {{#if this.quickFilters}}
    <div class="mt-3 d-flex flex-wrap align-items-center quick-filters">
      <span class="text-muted mr-2">Filtri rapidi:</span>

      {{#each this.quickFilters as |filter|}}
        <button
          type="button"
          class="btn btn-sm {{if
            (this.isFilterActive filter.id)
            'btn-ofinder-primary'
            'btn-outline-secondary'
          }} ofinder-rounded-sm"
          {{on "click" (fn this.toggleQuickFilter filter)}}
        >
          {{filter.icon}}
          {{filter.label}}
          {{#if (this.isFilterActive filter.id)}}
            <i class="fa fa-times-circle ml-1"></i>
          {{/if}}
        </button>
      {{/each}}
    </div>
  {{/if}}
</div>
